{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "showcase-image.html" %}
<main>
    <section>
        <div class="main">
            <div class="container mt-4">
                <div class="row mt-4">
                    <div class="col-lg-9 col-md-9 col-sm-9 mt-4">
                        <!-- Post -->
                        <div class="post-detail-sample border p-2 mb-4">
                            <div class="d-flex">
                               <div class="border p-1">
                                    <img class="post-image-first" src="{% static 'assets/image/hero.jpg' %}" alt="">
                               </div>
                               <div class="post-text-correct">
                                    <div class="ml-4">
                                        <h3 class="heading-post">E-Commrece Courses</h3>

                                            <sapn class="span-post">by <a class="admin-prom-anchor" href="#">admin</a> in
                                                <a class="admin-prom-anchor" href="#">Courses</a>,
                                                <a class="admin-prom-anchor" href="#">Promotions </a> on June 28, 2022
                                            </sapn>
                                            <div class="float-right span-post" >
                                                <i class=" far fa-comment"></i> 
                                                <span>0</span>
                                            </div>

                                    </div>
                                    <div class="post-para-all ml-4 mt-4">
                                        <p class="post-paragrapg-text">
                                            Join us in our Amazon Courses which are going to start at AA Computer College
                                             for both On-Campus and Online Classes and start your career in E-Commerce.
                                              The internship will also provide to our top students of each batch,
                                               which could also lead to a job opportunity. * 05 Seats in each
                                                course based on…
                                        </p>
                                        <a class="read-post-anchor" href="#">Read more</a>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <!-- Post -->
                        <div class="post-detail-sample border p-2 mb-4">
                            <div class="d-flex">
                               <div class="border p-1">
                                    <img class="post-image-first" src="{% static 'assets/image/hero.jpg' %}" alt="">
                               </div>
                               <div class="post-text-correct">
                                    <div class="ml-4">
                                        <h3 class="heading-post">E-Commrece Courses</h3>

                                            <sapn class="span-post">by <a class="admin-prom-anchor" href="#">admin</a> in
                                                <a class="admin-prom-anchor" href="#">Courses</a>,
                                                <a class="admin-prom-anchor" href="#">Promotions </a> on June 28, 2022
                                            </sapn>
                                            <div class="float-right span-post" >
                                                <i class=" far fa-comment"></i> 
                                                <span>0</span>
                                            </div>

                                    </div>
                                    <div class="post-para-all ml-4 mt-4">
                                        <p class="post-paragrapg-text">
                                            Join us in our Amazon Courses which are going to start at AA Computer College
                                             for both On-Campus and Online Classes and start your career in E-Commerce.
                                              The internship will also provide to our top students of each batch,
                                               which could also lead to a job opportunity. * 05 Seats in each
                                                course based on…
                                        </p>
                                        <a class="read-post-anchor" href="#">Read more</a>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="post-detail-sample border p-2 mb-4">
                            <div class="d-flex">
                               <div class="border p-1">
                                    <img class="post-image-first" src="{% static 'assets/image/hero.jpg' %}" alt="">
                               </div>
                               <div class="post-text-correct">
                                    <div class="ml-4">
                                        <h3 class="heading-post">E-Commrece Courses</h3>

                                            <sapn class="span-post">by <a class="admin-prom-anchor" href="#">admin</a> in
                                                <a class="admin-prom-anchor" href="#">Courses</a>,
                                                <a class="admin-prom-anchor" href="#">Promotions </a> on June 28, 2022
                                            </sapn>
                                            <div class="float-right span-post" >
                                                <i class=" far fa-comment"></i> 
                                                <span>0</span>
                                            </div>

                                    </div>
                                    <div class="post-para-all ml-4 mt-4">
                                        <p class="post-paragrapg-text">
                                            Join us in our Amazon Courses which are going to start at AA Computer College
                                             for both On-Campus and Online Classes and start your career in E-Commerce.
                                              The internship will also provide to our top students of each batch,
                                               which could also lead to a job opportunity. * 05 Seats in each
                                                course based on…
                                        </p>
                                        <a class="read-post-anchor" href="#">Read more</a>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <!-- Post -->
                        <div class="post-detail-sample border p-2 mb-4">
                            <div class="d-flex">
                               <div class="border p-1">
                                    <img class="post-image-first" src="{% static 'assets/image/hero.jpg' %}" alt="">
                               </div>
                               <div class="post-text-correct">
                                    <div class="ml-4">
                                        <h3 class="heading-post">E-Commrece Courses</h3>

                                            <sapn class="span-post">by <a class="admin-prom-anchor" href="#">admin</a> in
                                                <a class="admin-prom-anchor" href="#">Courses</a>,
                                                <a class="admin-prom-anchor" href="#">Promotions </a> on June 28, 2022
                                            </sapn>
                                            <div class="float-right span-post" >
                                                <i class=" far fa-comment"></i> 
                                                <span>0</span>
                                            </div>

                                    </div>
                                    <div class="post-para-all ml-4 mt-4">
                                        <p class="post-paragrapg-text">
                                            Join us in our Amazon Courses which are going to start at AA Computer College
                                             for both On-Campus and Online Classes and start your career in E-Commerce.
                                              The internship will also provide to our top students of each batch,
                                               which could also lead to a job opportunity. * 05 Seats in each
                                                course based on…
                                        </p>
                                        <a class="read-post-anchor" href="#">Read more</a>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <!-- Post -->
                        <div class="post-detail-sample border p-2 mb-4">
                            <div class="d-flex">
                               <div class="border p-1">
                                    <img class="post-image-first" src="{% static 'assets/image/hero.jpg' %}" alt="">
                               </div>
                               <div class="post-text-correct">
                                    <div class="ml-4">
                                        <h3 class="heading-post">E-Commrece Courses</h3>

                                            <sapn class="span-post">by <a class="admin-prom-anchor" href="#">admin</a> in
                                                <a class="admin-prom-anchor" href="#">Courses</a>,
                                                <a class="admin-prom-anchor" href="#">Promotions </a> on June 28, 2022
                                            </sapn>
                                            <div class="float-right span-post" >
                                                <i class=" far fa-comment"></i> 
                                                <span>0</span>
                                            </div>

                                    </div>
                                    <div class="post-para-all ml-4 mt-4">
                                        <p class="post-paragrapg-text">
                                            Join us in our Amazon Courses which are going to start at AA Computer College
                                             for both On-Campus and Online Classes and start your career in E-Commerce.
                                              The internship will also provide to our top students of each batch,
                                               which could also lead to a job opportunity. * 05 Seats in each
                                                course based on…
                                        </p>
                                        <a class="read-post-anchor" href="#">Read more</a>
                                    </div>
                               </div>
                            </div>
                        </div>
                                                <!-- Post -->
                                                <div class="post-detail-sample border p-2 mb-4">
                                                    <div class="d-flex">
                                                       <div class="border p-1">
                                                            <img class="post-image-first" src="{% static 'assets/image/hero.jpg' %}" alt="">
                                                       </div>
                                                       <div class="post-text-correct">
                                                            <div class="ml-4">
                                                                <h3 class="heading-post">E-Commrece Courses</h3>
                        
                                                                    <sapn class="span-post">by <a class="admin-prom-anchor" href="#">admin</a> in
                                                                        <a class="admin-prom-anchor" href="#">Courses</a>,
                                                                        <a class="admin-prom-anchor" href="#">Promotions </a> on June 28, 2022
                                                                    </sapn>
                                                                    <div class="float-right span-post" >
                                                                        <i class=" far fa-comment"></i> 
                                                                        <span>0</span>
                                                                    </div>
                        
                                                            </div>
                                                            <div class="post-para-all ml-4 mt-4">
                                                                <p class="post-paragrapg-text">
                                                                    Join us in our Amazon Courses which are going to start at AA Computer College
                                                                     for both On-Campus and Online Classes and start your career in E-Commerce.
                                                                      The internship will also provide to our top students of each batch,
                                                                       which could also lead to a job opportunity. * 05 Seats in each
                                                                        course based on…
                                                                </p>
                                                                <a class="read-post-anchor" href="#">Read more</a>
                                                            </div>
                                                       </div>
                                                    </div>
                                                </div>
                                                                        <!-- Post -->
                        <div class="post-detail-sample border p-2 mb-4">
                            <div class="d-flex">
                               <div class="border p-1">
                                    <img class="post-image-first" src="{% static 'assets/image/hero.jpg' %}" alt="">
                               </div>
                               <div class="post-text-correct">
                                    <div class="ml-4">
                                        <h3 class="heading-post">E-Commrece Courses</h3>

                                            <sapn class="span-post">by <a class="admin-prom-anchor" href="#">admin</a> in
                                                <a class="admin-prom-anchor" href="#">Courses</a>,
                                                <a class="admin-prom-anchor" href="#">Promotions </a> on June 28, 2022
                                            </sapn>
                                            <div class="float-right span-post" >
                                                <i class=" far fa-comment"></i> 
                                                <span>0</span>
                                            </div>

                                    </div>
                                    <div class="post-para-all ml-4 mt-4">
                                        <p class="post-paragrapg-text">
                                            Join us in our Amazon Courses which are going to start at AA Computer College
                                             for both On-Campus and Online Classes and start your career in E-Commerce.
                                              The internship will also provide to our top students of each batch,
                                               which could also lead to a job opportunity. * 05 Seats in each
                                                course based on…
                                        </p>
                                        <a class="read-post-anchor" href="#">Read more</a>
                                    </div>
                               </div>
                            </div>
                        </div>
                                                <!-- Post -->
                                                <div class="post-detail-sample border p-2 mb-4">
                                                    <div class="d-flex">
                                                       <div class="border p-1">
                                                            <img class="post-image-first" src="{% static 'assets/image/hero.jpg' %}" alt="">
                                                       </div>
                                                       <div class="post-text-correct">
                                                            <div class="ml-4">
                                                                <h3 class="heading-post">E-Commrece Courses</h3>
                        
                                                                    <sapn class="span-post">by <a class="admin-prom-anchor" href="#">admin</a> in
                                                                        <a class="admin-prom-anchor" href="#">Courses</a>,
                                                                        <a class="admin-prom-anchor" href="#">Promotions </a> on June 28, 2022
                                                                    </sapn>
                                                                    <div class="float-right span-post" >
                                                                        <i class=" far fa-comment"></i> 
                                                                        <span>0</span>
                                                                    </div>
                        
                                                            </div>
                                                            <div class="post-para-all ml-4 mt-4">
                                                                <p class="post-paragrapg-text">
                                                                    Join us in our Amazon Courses which are going to start at AA Computer College
                                                                     for both On-Campus and Online Classes and start your career in E-Commerce.
                                                                      The internship will also provide to our top students of each batch,
                                                                       which could also lead to a job opportunity. * 05 Seats in each
                                                                        course based on…
                                                                </p>
                                                                <a class="read-post-anchor" href="#">Read more</a>
                                                            </div>
                                                       </div>
                                                    </div>
                                                </div>
                                                                        <!-- Post -->
                        <div class="post-detail-sample border p-2 mb-4">
                            <div class="d-flex">
                               <div class="border p-1">
                                    <img class="post-image-first" src="{% static 'assets/image/hero.jpg' %}" alt="">
                               </div>
                               <div class="post-text-correct">
                                    <div class="ml-4">
                                        <h3 class="heading-post">E-Commrece Courses</h3>

                                            <sapn class="span-post">by <a class="admin-prom-anchor" href="#">admin</a> in
                                                <a class="admin-prom-anchor" href="#">Courses</a>,
                                                <a class="admin-prom-anchor" href="#">Promotions </a> on June 28, 2022
                                            </sapn>
                                            <div class="float-right span-post" >
                                                <i class=" far fa-comment"></i> 
                                                <span>0</span>
                                            </div>

                                    </div>
                                    <div class="post-para-all ml-4 mt-4">
                                        <p class="post-paragrapg-text">
                                            Join us in our Amazon Courses which are going to start at AA Computer College
                                             for both On-Campus and Online Classes and start your career in E-Commerce.
                                              The internship will also provide to our top students of each batch,
                                               which could also lead to a job opportunity. * 05 Seats in each
                                                course based on…
                                        </p>
                                        <a class="read-post-anchor" href="#">Read more</a>
                                    </div>
                               </div>
                            </div>
                        </div>
                                                <!-- Post -->
                                                <div class="post-detail-sample border p-2 mb-4">
                                                    <div class="d-flex">
                                                       <div class="border p-1">
                                                            <img class="post-image-first" src="{% static 'assets/image/hero.jpg' %}" alt="">
                                                       </div>
                                                       <div class="post-text-correct">
                                                            <div class="ml-4">
                                                                <h3 class="heading-post">E-Commrece Courses</h3>
                        
                                                                    <sapn class="span-post">by <a class="admin-prom-anchor" href="#">admin</a> in
                                                                        <a class="admin-prom-anchor" href="#">Courses</a>,
                                                                        <a class="admin-prom-anchor" href="#">Promotions </a> on June 28, 2022
                                                                    </sapn>
                                                                    <div class="float-right span-post" >
                                                                        <i class=" far fa-comment"></i> 
                                                                        <span>0</span>
                                                                    </div>
                        
                                                            </div>
                                                            <div class="post-para-all ml-4 mt-4">
                                                                <p class="post-paragrapg-text">
                                                                    Join us in our Amazon Courses which are going to start at AA Computer College
                                                                     for both On-Campus and Online Classes and start your career in E-Commerce.
                                                                      The internship will also provide to our top students of each batch,
                                                                       which could also lead to a job opportunity. * 05 Seats in each
                                                                        course based on…
                                                                </p>
                                                                <a class="read-post-anchor" href="#">Read more</a>
                                                            </div>
                                                       </div>
                                                    </div>
                                                </div>
                                                                        <!-- Post -->
                        <div class="post-detail-sample border p-2 mb-4">
                            <div class="d-flex">
                               <div class="border p-1">
                                    <img class="post-image-first" src="{% static 'assets/image/hero.jpg' %}" alt="">
                               </div>
                               <div class="post-text-correct">
                                    <div class="ml-4">
                                        <h3 class="heading-post">E-Commrece Courses</h3>

                                            <sapn class="span-post">by <a class="admin-prom-anchor" href="#">admin</a> in
                                                <a class="admin-prom-anchor" href="#">Courses</a>,
                                                <a class="admin-prom-anchor" href="#">Promotions </a> on June 28, 2022
                                            </sapn>
                                            <div class="float-right span-post" >
                                                <i class=" far fa-comment"></i> 
                                                <span>0</span>
                                            </div>

                                    </div>
                                    <div class="post-para-all ml-4 mt-4">
                                        <p class="post-paragrapg-text">
                                            Join us in our Amazon Courses which are going to start at AA Computer College
                                             for both On-Campus and Online Classes and start your career in E-Commerce.
                                              The internship will also provide to our top students of each batch,
                                               which could also lead to a job opportunity. * 05 Seats in each
                                                course based on…
                                        </p>
                                        <a class="read-post-anchor" href="#">Read more</a>
                                    </div>
                               </div>
                            </div>
                        </div>

                        
                        
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        {% include "side-nav.html" %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



{% include "fotter.html" %}

{% endblock content %} 