{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "showcase-image.html" %}
<main>
    <section>
        <div class="container">
            <div class="main-para-hostel">
                <p class="heading-hostel">Accomodation</p>
                <p class="hostel-para-font">
                    AA Computer College also provides the facility of hostel for
                     its Students. Hostel accommodation is available for the 
                     male. Accommodation is allotted on a first-come, first
                      served basis. Furnished rooms are available in a double
                       storied building. Each hostel block offers a friendly 
                       and secure environment for its inhabitants and is equipped
                        with a wide range of facilities including laundry, 
                        kitchen, TV lounges, and easy access to dining facilities. Dedicated hostel staff is accessible to students for help at all times, and emergency services including transport facilities are available.
                </p>
            </div>
            <div class="second-para-hostel">
                <p class="heading-hostel">Security and Safety</p>
                <p class="hostel-para-font">
                    In addition to highly effective Campus security arrangements,
                     all hostels have protective boundary walls, security 
                     Cameras and dedicated staff at each block.
                </p>
            </div>
            <div class="second-para-hostel">
                <p class="heading-hostel">Hostel Facilities</p>
                <p class="hostel-para-font">
                    In order to facilitate the students, the following facilities have been 
                    provided at both the boys and girls hostels; Mess, Mosque, Separate Television
                     room, Telephone, Newspapers, Guest Rooms, common Room, Computer Room,
                      Electric Water Coolers, High-speed internet and Wifi, Hostel Laundry and 24
                       hours security. Hostel wardens are responsible for ensuring the
                        availabilities of all facilities and management in hostels. 
                        Others Facilities are as fellows
                        <ul class="list-hostel-items">
                            <li>Separate Locker Cabinet In Rooms</li>
                            <li>Clean & Filtered Drinking Water</li>
                            <li>High-Speed Internet Wifi</li>
                            <li>Neat & Clean Carpeted Rooms</li>
                            <li>24 Hours Electricity</li>
                            <li>Generator Facility</li>
                            <li>Separate Kitchen</li>
                            <li>Security Cameras</li>
                            <li>Instant Geezer</li>
                            <li>Parking Garage</li>
                            
                        </ul>
                </p>
            </div>
            <div class="second-para-hostel">
                <p class="heading-hostel">Contact</p>
                <div class="hostel-para-font"> 
                    <span>53-C Gulberg Colony, Failsabad, Pakistan</span> <br>
                    <span>Telephone: +92 (41) 2644033</span> <br>
                    <span>Mobile: +92 321 6615002</span> <br>
                    <span>Fax:  +92 321 6615002</span> <br>
                    <span>Email: <a class="list-hostel-anchor" href="#">aacollegephotpshop@gmail.vom</a> </span> <br>
                </div>
            </div>
            <div class="second-para-hostel">
                <p class="heading-hostel">Download (Hostel Accommodation Forms)
                </p>
                <p class="hostel-para-font">
                </p>
            </div>





        </div>
    </section>
</main>



{% include "fotter.html" %}

{% endblock content %} 