{% extends 'base.html' %}
{% load static %}
{% block content %}




 <section>
    <div class="">
        <div class="main">
            <div class="showcase-landing-image">
            {% include "video-showcase.html" %}
            </div>
            <div class="landing-showcase-text">
                <div class="text-center text-white hero-text-landing">
                    <h1 class="display-3"> We Fulfill Your Dream  of <br> Copmuting </h1>
                    <p class="" style="font-size: 1.6rem; color: #B7B9B9;" > Fulfill Your Dreams With Us</p>
                    <div class="d-flex justify-content-center">
                    <button class="btn btn-primary m-4 pl-4 pr-4 button-showcase">Get Register With Us</button>
                    <button class="btn text-white pl-4 pr-4 border-white bg-none button-showcase1 m-4">visit Our Youtube Channel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>


 <section  style="margin-top:100px; margin-bottom: 150px;">
    <div class="container" style="margin-top:300px ;">
        <div class="row mt-4">
            <div class="col col-lg-3 mt-4 text-center column-section-logo">
                <div class="">
                    <span class="dot">
                        <!-- <i class="fa-solid fa-hands"></i> -->
                        <i class="fa icon  fa-binoculars landing-mission-icon"></i>
                    </span>
                </div>

                <div class="text">
                    <h6 class="m-4 h-landing-font text-uppercase p-landing-color">Mission</h6>
                    <p class="p-landing-color">AA Computer College provides a complete, appropriate, excellence and globally recognized IT-based education at all levels and disciplines with the objective of creating professionals and leaders.</p>
                </div>
            </div>
            <div class="col col-lg-3 mt-4 text-center column-section-logo">
                <div class="">
                    <span class="dot">
                        <!-- <i class="fa-solid fa-hands"></i> -->
                        <i class="fa fa-binoculars landing-mission-icon"></i>
                    </span>
                </div>

                <div class="text">
                    <h6 class="m-4 h-landing-font p-landing-color">Vission</h6>
                    <p class="p-landing-color">The Vision of AA Computer College is to provide the essential training to
                         technical professionals and Provides universally standard for the
                          support of technology and of technical professionals in educating 
                          global conditions.</p>
                </div>
            </div>
            <div class="col col-lg-3 mt-4 text-center column-section-logo">
                <div class="">
                    <span class="dot">
                        <!-- <i class="fa-solid fa-hands"></i> -->
                        <i class="fa  fa-binoculars landing-mission-icon"></i>
                    </span>
                </div>

                <div class="text">
                    <h6 class="m-4 h-landing-font p-landing-color" >Aim</h6>
                    <p class="p-landing-color">To lead Pakistan towards the international quality of education standards
                         while at the same time, providing quality
                          education to disable personnel.</p>
                </div>
            </div>
            <div class="col col-lg-3 mt-4 text-center column-section-logo">
                <div class="">
                    <span class="dot">
                        <!-- <i class="fa-solid fa-hands"></i> -->
                        <i class="fa fa-binoculars landing-mission-icon"></i>
                    </span>
                </div>

                <div class="text">
                    <h6 class="m-4 h-landing-font text-uppercase p-landing-color">Support</h6>
                    <p class="p-landing-color">We prepare students for successful careers and lifelong learning in 
                        information technology and research through knowledge creation,
                         technology development, and innovation.</p>
                </div>
            </div>
        </div>
    </div>
 </section>


 <section>
    <div class="main" style="background-color: #F5FAFD; margin-bottom: 100px; padding-bottom: 100px;">
        <div class="container mt-4" style="padding-top: 55px;">
            <div class="header text-center mt-4 mb-4">
                <p class="m-4 h-lanfing-color">Latest From Our Promotions</p>
                <p class="display-5 p-landing-color promotions-heading-font">Students are our future assets. So we provide professional skills for our students without any course fee.</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col col-lg-4 col-md-3 col-sm-2 mt-4">
                        <div class="card  card-span text-c">
                            <div class="image-section">
                                <img src="{% static 'assets/image/hero-2.jpg' %}" alt="">
                            </div>
                            <h3 class="mt-4 text-center card-hover-text">E-Commerce Courses  </h3>
                            <p class="p-4 text-left p-landing-color">
                                Join us in our Amazon Courses which are going to start at AA Computer College for both On-Campus and Online Classes and start your career in E-Commerce. The internship will[…]
                            </p>
                            <a class="mb-4 ml-4 " href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-3 col-sm-2 mt-4">
                        <div class="card  card-span text-c">
                            <div class="image-section">
                                <img src="{% static 'assets/image/showcase.jpg' %}" alt="">
                            </div>
                            <h3 class="mt-4 text-center card-hover-text">Pure Femme Courses</h3>
                            <p class="p-4 text-left p-landing-color">
                                Join us in our Amazon Courses which are going to start at AA Computer College for both On-Campus and Online Classes and start your career in E-Commerce. The internship will[…]
                            </p>
                            <a class="mb-4 ml-4 " href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-3 col-sm-2 mt-4">
                        <div class="card  card-span text-c">
                            <div class=" card-image image-section">
                                <img src="{% static 'assets/image/hero.jpg' %}" alt="">
                            </div>
                            <h3 class="mt-4 text-center card-hover-text">Freelancing Courses</h3>
                            <p class="p-4 text-left p-landing-color">
                                Join us in our Amazon Courses which are going to start at AA Computer College for both On-Campus and Online Classes and start your career in E-Commerce. The internship will[…]
                            </p>
                            <a class="mb-4 ml-4 " href="#">Read More</a>
                        </div>
                    </div>
                    
                    
                </div>

                <div class="text-center m-4">
                    <a href="#">
                        <button class="btn btn-primary-color text-white">View All Promotions</button>
                    </a>
                </div>
            </div>


            <div class="container" style="margin-top:200px;" >
                <div class="row"> 
                    <div class="col-lg-5">
                        <div class="Designinig-heading">
                            <p class="blogs-heading">Graphic  Designing </p>
                            <p class="p-landing-color p-creative-display">We Provide <span class="border-bottom border-dark text-dark font-weight-bold">Createive Solution</span> for all your need</p>
                            <p class="mt-4 p-landing-color" >Discover the life of a designer and how to start a career in graphic design. Learn core design skills (color, typography and layout) and core tools (Photoshop and Illustrator) used in graphic design.</p>
                            <a class="mb-4 mt-4" href="#">
                                <button class="mb-4 mt-4 btn btn-primary-color text-white pr-4 pl-4">Get Register Now</button>
                            </a>
                        </div>
                    </div>
                    <div class="col col-lg-7">
                        <img style="width:600px ;" src="{% static 'assets/image/sss.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>


 <section style="height: 60vh;">
    <div class="main" >
        <div class="container">
            <div class="row">
                <div class="col col-lg-6">
                    <div class="app-development">
                        <img src="{% static 'assets/image/showcase.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col col-lg-6">
                    <p class="blogs-heading">App Designing & Development</p>
                    <p class="mt-4 p-landing-color" >
                        Developing Android Apps is the foundation of our advanced Android
                         curriculum. This course blends theory and practice to help you build great
                          apps the right way. In this course, you’ll work with instructors step-by-step
                           to build an Android app, and learn best practices of mobile development,
                            and Android development in particula
                    </p>
                    <a class="mb-4 mt-4" href="#">
                        <button class="mb-4 mt-4 btn btn-primary-color text-white pr-4 pl-4">Get Register Now</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
 </section>

 <section style="height: 60vh;">
    <div class="mb-4" style=" background-color: #F5FAFD;">
        <div class="container p-4 mb-4">
            <div class="row mb-4 pt-4">
                <div class="col col-lg-6">
                    <p class="blogs-heading">Web Designing & Development</p>
                    <p class="mt-4  p-landing-color" >
                        Developing Android Apps is the foundation of our advanced Android
                         curriculum. This course blends theory and practice to help you build great
                          apps the right way. In this course, you’ll work with instructors step-by-step
                           to build an Android app, and learn best practices of mobile development,
                            and Android development in particula
                    </p>
                    <a class="mb-4 mt-4" href="#">
                        <button class="mb-4 mt-4 btn btn-primary-color text-white pr-4 pl-4">Get Register Now</button>
                    </a>
                </div>
                <div class="col col-lg-6">
                    <div class="app-development">
                        <img src="{% static 'assets/image/hero-2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>

 <section>
    <div class="container">
        <div class="header text-center mt-4 mb-4">
            <h1 class="m-4 blogs-heading">We provide creative solutions!</h1>
            <p class="display-5 p-landing-color promotions-heading-font">Our goal is to give opportunities to students to learn practical skills from industrial Experts.</>
        </div>
        <div class="row m-4">
            <div class="col col-lg-4">
                <div class="card  card-span">
                    <img class="card-img-top" src="{% static 'assets/image/hero.jpg' %}" alt="card  image cap">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-4">3D Modeling</li>
                    </ul>
                    <div class="card-body">
                        <p class="card-text p-landing-color">
                            Before a new car, household object, video game character, or building makes it to production, there’s a 3D model. Our 3D modeling mentors have worked at different studios and they are ready to teach you the industry tips and tricks they have been using for years to do quality work on tight timelines 
                        </p>
                        <a  href="#">
                            <button class="mb-2 mt-2 btn btn-primary-color text-white pr-4 pl-4">Get Register Now</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col col-lg-4">
                <div class="card  card-span">
                    <img class="card-img-top" src="{% static 'assets/image/hero-2.jpg' %}" alt="card  image cap">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-4">Professional Photography</li>
                    </ul>
                    <div class="card-body">
                        <p class="card-text p-landing-color">
                            Before a new car, household object, video game character, or building makes it to production, there’s a 3D model. Our 3D modeling mentors have worked at different studios and they are ready to teach you the industry tips and tricks they have been using for years to do quality work on tight timelines 
                        </p>
                        <a  href="#">
                            <button class="mb-2 mt-2 btn btn-primary-color text-white pr-4 pl-4">Get Register Now</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col col-lg-4">
                <div class="card  card-span">
                    <img class="card-img-top" src="{% static 'assets/image/showcase.jpg' %}" alt="card  image cap">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-4">Spoken English</li>
                    </ul>
                    <div class="card-body">
                        <p class="card-text p-landing-color">
                            Before a new car, household object, video game character, or building makes it to production, there’s a 3D model. Our 3D modeling mentors have worked at different studios and they are ready to teach you the industry tips and tricks they have been using for years to do quality work on tight timelines 
                        </p>
                        <a  href="#">
                            <button class="mb-2 mt-2 btn btn-primary-color text-white pr-4 pl-4">Get Register Now</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
 </section>


 <section  style="margin-top:150px;">
    <div class="container">
    
        <div class="text-center">
            <h5 class="p-landing-color m-4">Our Awesome Team</h5>
            <p class="blogs-heading" >Our Teame</p>
            <p  class="p-landing-color promotions-heading-font">The strength of the team is each individual member. The strength of each member is the team</p>
        </div>
        <div class="row">
            <div class="col col-lg-6 col-sm-3">
                <div class="text-center">
                    <img class="pra1" src="{% static 'assets/image/hero.jpg' %}" alt="">
                    <p class="m-4 name-team-font">  M Sarfraz </p>
                    <p class="m-4 name-dest-font p-landing-color"><i>Chairman</i></p>
                    <p class="m-4 p-landing-color">
                       Success seems to be connected with action. Successful people keep moving. They make mistakes, but they don’t quit
                   </p>
               </div>
            </div>
            <div class="col col-lg-6 col-sm-3">
                <div class="text-center">
                    <img class="pra1" src="{% static 'assets/image/hero.jpg' %}" alt="">
                    <p class="m-4 name-team-font">  M Sarfraz </p>
                    <p class="m-4 name-dest-font p-landing-color"><i>Chairman</i></p>
                    <p class="m-4 p-landing-color">
                       Success seems to be connected with action. Successful people keep moving. They make mistakes, but they don’t quit
                   </p>
               </div>
            </div>
            <div class="col col-lg-6 col-sm-3">
                <div class="text-center">
                    <img class="pra1" src="{% static 'assets/image/hero.jpg' %}" alt="">
                    <p class="m-4 name-team-font">  M Sarfraz </p>
                    <p class="m-4 name-dest-font p-landing-color"><i>Chairman</i></p>
                    <p class="m-4 p-landing-color">
                       Success seems to be connected with action. Successful people keep moving. They make mistakes, but they don’t quit
                   </p>
               </div>
            </div>
            <div class="col col-lg-6 col-sm-3">
                <div class="text-center">
                    <img class="pra1" src="{% static 'assets/image/hero.jpg' %}" alt="">
                    <p class="m-4 name-team-font">  M Sarfraz </p>
                    <p class="m-4 name-dest-font p-landing-color"><i>Chairman</i></p>
                    <p class="m-4 p-landing-color">
                       Success seems to be connected with action. Successful people keep moving. They make mistakes, but they don’t quit
                   </p>
               </div>
            </div>
            
       
       
        </div>
    </div>
 </section>

 <section style="margin-top: 150px; height:80vh ;">
    <div class="container">
        <div class="main text-center">
            <p class="blogs-heading text-uppercase m-4" style="font-size:45px ;">Our Awesome Students!</p>
              <p class="p-landing-color promotions-heading-font">Don’t take our word for it – here’s what they say:</p>
        </div>

        <div class="row">
            <div class="col col-lg-4 col-sm-2">
                <div class="card  card-span text-center">
                    <h1 class=" card-title text-primary" style="font-size: 3rem;">
                        ,,
                    </h1>
                      <p class="card-body p-landing-color">
                          Awesome institution!!! It is a gorgeous campus providing hands-on-experinces to students in multiple courses. I personally enjoyed my time over here . I have gained multiple skills from AA Computer College.
                      </p>
                      <img class="pra2 card-img" src="{% static 'assets/image/hero.jpg' %}" alt="">
                      <h5 class="mt-4 mb-2 name-team-font">M Jahan</h5>
                      <h6 class=" mt-2 mb-4 p-landing-color"><i> Graphic Designer </i></h6>
                </div>
            </div>
            <div class="col col-lg-4 col-sm-2">
                <div class="card  card-span text-center">
                    <h1 class=" card-title text-primary" style="font-size: 3rem;">
                        ,,
                    </h1>
                      <p class="card-body p-landing-color">
                          Awesome institution!!! It is a gorgeous campus providing hands-on-experinces to students in multiple courses. I personally enjoyed my time over here . I have gained multiple skills from AA Computer College.
                      </p>
                      <img class="pra2 card-img" src="{% static 'assets/image/hero.jpg' %}" alt="">
                      <h5 class="mt-4 mb-2 name-team-font">M Jahan</h5>
                      <h6 class=" mt-2 mb-4 p-landing-color"><i> Graphic Designer </i></h6>
                </div>
            </div>
            <div class="col col-lg-4 col-sm-2">
                <div class="card  card-span text-center">
                    <h1 class=" card-title text-primary" style="font-size: 3rem;">
                        ,,
                    </h1>
                      <p class="card-body p-landing-color">
                          Awesome institution!!! It is a gorgeous campus providing hands-on-experinces to students in multiple courses. I personally enjoyed my time over here . I have gained multiple skills from AA Computer College.
                      </p>
                      <img class="pra2 card-img" src="{% static 'assets/image/hero.jpg' %}" alt="">
                      <h5 class="mt-4 mb-2 name-team-font">M Jahan</h5>
                      <h6 class=" mt-2 mb-4 p-landing-color"><i> Graphic Designer </i></h6>
                </div>
            </div>
        </div>
    </div>
 </section>

<section>
    <div class="style-bg-primary">
        <div class="container p-4 mt-4">
            <div class="main text-center text-white mt-4 pt-4">
                <h1 class=" mt-4 pt-4">OUR STUDENTS WORK</h1>
                <p style="text-align: center; line-height: 2.4rem;font-size: 1.4rem;">
                    At the end of each course we give students a final project to evaluate how much they have <br> learned
                    Here are some the Final Projects
                </p>
            </div>
            <div class="row mb-4">
                <div class="col col-lg-4">
                    <div class="card ">
                        <div class="container-image-hover">
                            <img src="{% static 'assets/image/hero.jpg' %}" alt="Avatar" class="image-hover" style="width:100%">
                                <div class="middle">
                                    <a href="#"> <button class="btn bg-warning btn-primary">View Case Study</button></a>
                                </div>
                        </div>
                        <div class="p-4 text-center">
                            <h5 class="p-landing-color">Graphic Designer</h5>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="card ">
                        <div class="container-image-hover">
                            <img src="{% static 'assets/image/hero.jpg' %}" alt="Avatar" class="image-hover-center" style="width:100%">
                                <div class="middle">
                                    <a href="#"> <button class="btn bg-warning btn-primary">View Case Study</button></a>
                                </div>
                        </div>
                        <div class="p-4 text-center">
                            <h5 class="p-landing-color p-3">Our Professional Photography Student Work</h5>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="card ">
                        <div class="container-image-hover">
                            <img src="{% static 'assets/image/hero.jpg' %}" alt="Avatar" class="image-hover" style="width:100%">
                                <div class="middle">
                                    <a href="#"> <button class="btn bg-warning btn-primary">View Case Study</button></a>
                                </div>
                        </div>
                        <div class="p-4 text-center">
                            <h4 class="p-landing-color">Sketch </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="background-position: center; background-image: url({% static 'assets/image/hero.jpg' %});   height:100vh ;">
    <div>
        <div class="mt-4 pt-4 container">
            <div class="main mt-4 pt-4">
                <div class="fotter mt-4 pt-4 text-white text-center">
                    <p class="blogs-heading text-white">Contact us</h1>
                    <p class="h-landing-form m-4">Our team will be happy to answer you. Just fill out the form and we will be in touch   with you as soon as possible</p>
                </div>
            </div>
            <div class="form-contect card ">
                <form>
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Email</label>
                      <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    <button type="submit" class="btn btn-light">Submit</button>
                  </form>
            </div>
        </div>
    </div>
 </section>

 {% include "fotter.html" %}




{% endblock content %}   