{% load static %}

<section>

        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="search"
                    style="background-repeat: no-repeat; ;padding:0 30px; background-position:left; background-image:url({% static 'assets/image/download.svg' %}) ;">
             </div>
            </div>
            <div class="card-title ml-3">
                <p class="card-title-heading" >Recent Posts</p>
            </div>     
                <ul class="list-group list-side-nav ml-4 mr-4">
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">E-Commerce Courses</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">Pure Femme Courses</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">Freelancing Courses</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">Matric & Inter Courses</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">Mass Media Courses</a></li>
                </ul>
                <div class="card-title ml-3 mt-4">
                    <p class="card-title-heading ml-2" >Recent Comments</p>
                </div>
                <!-- Archives -->
                <div class="card-title ml-2">
                    <p class="card-title-heading" >Archive</p>
                </div>
                <ul class="list-group list-side-nav ml-4 mr-4">
                    <!-- 2022 -->
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">June 2022</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">May 2022</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">January 2022</a></li>
                    <!-- 2021 -->
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">December 2021</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">November 2021</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">September 2021</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">August 2021</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">April 2021</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">January 2021</a></li>
                    <!-- 2020 -->
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">December 2020</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">October 2020</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">September 2020</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">August 2020</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">June 2020</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">May 2020</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">April 2020</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">March 2020</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">February 2020</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">January 2020</a></li>
                    <!-- 2019 -->
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">December 2019</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">November 2019</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">October 2019</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">September 2019</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">August 2019</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">July 2019</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">June 2019</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">May 2019</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">April 2019</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">March 2019</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">January 2019</a></li>
                    <!-- 2018 -->
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">October 2018</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">August 2018</a></li>
                    
                </ul> 

                <!-- Categories -->
                <div class="card-title mt-4 ml-2">
                    <p class="card-title-heading" >Categories</p>
                </div>
                <ul class="list-group list-side-nav ml-4 mr-4">
                    <!-- 2022 -->
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">3D Modeling</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">Adobe Flash</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">Adobe Photoshop</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">Adobe Illustorator</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">Adobe Premier</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">Advance Web Development</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">Alarm System</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">C Sharp</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">C ++</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">Corel Draw</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">Courses</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">CSS</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">EFL</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">Html</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">IELTS</a></li>
                    <li class="border-top mt-2 p-2"><a class="list-side-anchor" href="#">IOS</a></li>
                    <!-- 2020 -->
                    
                </ul> 









          </div>

</section>