{% load static %}

<div class="" style="height: 500px;">


<nav class=" mt-4">
    <div class="container">
        <div class="navbar-header navbar_dark d-flex align-items-center justify-content-between">
            <!-- Navbar Brand -->
            <a href="{% url 'landing' %}" class="navbar-brand text-white"><img src="{% static 'assets/image/aa_logo.png' %}" alt="" 
                style="width:350px ; height:80px; margin-left: -50px;"></a>
        </div>
        <ul class="d-flex text justify-content-end">
            <li>ameen</li>
            <li>ameen</li>
            <li>ameen</li>
            <li>ameen</li>
            <li>ameen</li>
        </ul>
    </div>
</nav>
{% include "video-showcase.html" %}



</div>       

